html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;

  --background-color: #4D6675;
  --main-color: #C4EAFD;
  --lighter-main-color: #f7fcff;
  --darker-main-color: #263946;
}

body, input, button {
  font-family: 'Lato', sans-serif;
}

body {
  background: linear-gradient(to bottom, var(--background-color), black 400%);
  color: var(--main-color);
}

.app-wrapper {
  height: 90vh;
  margin: 5vh auto;
  width: 90vw;
  max-width: 900px;

  display: grid;
  grid-template-rows: 15vh 5vh 1fr;
  grid-template-columns: 1fr;
  grid-gap: 5vh;
}

.total-carbs {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;

  border-radius: 5px;
  background: #0001;
  box-shadow: inset 0 0 0 1px #0001;
}

.add-food-form {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 4fr 1fr minmax(1em, max-content) auto;
  align-items: center;
  grid-gap: 1vmin;
}

.add-food-form input {
  border: none;
  background: transparent;
  font-size: 3vh;
  color: var(--main-color);
}

.add-food-form input:focus {
  background: var(--lighter-main-color);
}

.add-food-form .food-name {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.add-food-form .awesomplete > ul > li[aria-selected="true"] {
  background-color: var(--main-color);
  color: black;
}

.add-food-form .awesomplete mark {
  background-color: var(--main-color);
}

.add-food-form .awesomplete li[aria-selected="true"] mark {
  background: #fff9;
}

.add-food-form .unit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
}

.foods {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 3vh;
}

.foods .food {
  display: flex;
  align-items: center;
  margin-bottom: 2vmin;
  color: var(--main-color);
}

.foods .qty {
  flex: 1;
  margin-left: 1vh;
}

button {
  border: none;
  padding: 0;
  font-size: 1rem;
  text-transform: lowercase;
  width: 1.5em;
  height: 1.5em;

  background: #0002;
  color: var(--main-color);
  border-radius: 50%;

  margin-left: 1rem;
}

.add-food-form button {
  margin-left: 0;
}

.delete-button button {
  display: block;
}

.delete-button button::before {
  content: "X";
  text-align: center;
}

